
.karta {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.obrazek-box {
    width: 300px;
    flex-shrink: 0;
}

.obrazek-prstenu {
    width: 100%;
    height: auto;
}

.karta-cervena {
    flex-direction: row-reverse;
}

.sekce-bila .karta {
    flex-direction: row;
}

.cerna {
    background-color: black;
    color: white;
    padding: 25px;
}

.bily {
    background-color: white;
    color: black;
    padding: 25px;
}
.menu a {
background-color: burlywood;
padding: 3px;
border: 1px blue solid;
}

.menu a:hover {
background-color:cyan;
}
.menu {
justify-content: space-around;
border: 2px solid black;
padding: 10px;
display: flex;
position: sticky;
top: 0;
}


.text-box {
    flex: 1;
}
img:hover {
    width: 400px;
transition: 2s;
}