body {
text-align: center;
}

.box {

margin:auto;

    display: block;
    width: 300px;
    padding: 30px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    }